/* --- My mini reset & base --- */
* { box-sizing: border-box; }
img { display:block; max-width:100%; height:auto; }
h1,h2,h3,p,ul,ol,dl,dt,dd { margin:0; padding:0; }
ol,ul { list-style-position: inside; }
a { color: inherit; text-decoration: none; }

html {
    font-size: 100%;
}

body {
    background-image:url(img/webcode-background.png);

    font-size: 0.875rem;
}

img {
    max-width: 100%;
}