@charset "UTF-8";

li {
  list-style: none;
}
.site-title {
  width: 120px;
  line-height: 1px;
  padding: 10px 0;
}
.site-title a {
  display: block;
}
.section-title {
  display: inline-block;
  font-size: 3rem;
  margin-bottom: 60px;
  border-bottom: solid 1px #383e45;
}

.content-title {
  font-size: 2.5rem;
  margin: 10px 0;
}
.wrapper {
  max-width: 1250px;
  margin: 0 auto 100px;
  padding: 0 4%;
  text-align: center;
}

/*ヘッダー*/
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
#header ul {
  display: flex;
  padding: 10px 0;
  background-color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
}
#header li {
  margin-left: 30px;
}
#header li a {
  color: #24292e;
}
#header li a:hover {
  opacity: 0.7;
}

/*Mainvisual*/
#mainvisual {
  margin-bottom: 80px;
}
#mainvisual img {
  width: 100%;
  max-width: 1080px;
  height: 800px;
  object-fit: cover;
  margin: 0 auto;
}

/*About*/
#about .content {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-right: 30px;
}

#about .text {
  text-align: center;
  font-size: 1.5rem;
}

/*introduction*/
#introduction {
    background-color: #fff;
}
#introduction ul {
  display: flex;
  justify-content: space-between;
}
#introduction li {
  width: 32%;
}

/*footer*/
#footer {
  font-size: 1.5rem;
  padding: 10px 0;
  text-align: center;
}

/*SP*/
@media screen and (max-width: 600px) {

  /*Mainvisual*/
  #mainvisual img {
    height: calc(100vh - 60px);
  }

  /*About*/
  #about .content {
    flex-direction: column;
  }
  #about img {
    margin-right: 0;
  }

  /*
  Bicycle*/
  #bicycle ul {
    flex-direction: column;
  }
  #bicycle li {
    width: 100%;
    margin-bottom: 30px;
  }
}
